node_modules
# Ignore build directory
/build
./frontend/build/
# Ignore JavaScript source maps
/build/static/js/*.map

# Ignore CSS source maps
/build/static/css/*.map

# Ignore any other files or folders specific to your build setup

.vercel
